/* Site styles */
* {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body {
  background-color: #FFFCF9;
}

section:not(#home) {
  padding-top: 25px;
  padding-bottom: 50px;
}

h2 {
  color: #60cbf5;
}

h3, h5, p {
  color: #38383C;
}

/* Header */
.navbar-dark {
  background-color: #66666E;
}

.navbar {
  color: #fff;
  padding: 1rem;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}

.navbar-nav .nav-link {
  color: #adadad;
  display: inline-block;
  letter-spacing: .1em;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #6a7df6;
  border-radius: 2px;
  transition: width .3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.nav-item.active {
  font-weight: 600;
}

/* Menu hamburguesa animado */
#nav-icon4 {
  border: none;
  width: 35px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4:focus {
  outline: none;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #6a7df6;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 12.5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  bottom: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 4px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 1px;
  left: 4px;
}

/* Home */
#home {
  height: 100vh;
  background: linear-gradient(135deg, #95ddb9, #60cbf5);
}

.home-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(102, 102, 110, 0.75) 0%, rgba(255, 105, 120, 0.75) 100%), url(../assets/images/flat-lay.png) center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Animación texto */
.carousel {
  color: #fff;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.75em;
  line-height: 43px;
  height: 43px;
  z-index: 100;
  transform: translateY(-50%);
}

.carousel .pre {
  height: 43px;
  text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.6);
}

.carousel .change_outer {
  text-align: left;
  height: 43px;
  overflow: hidden;
}

.carousel .change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 8s ease-in-out infinite;
          animation: rotate 8s ease-in-out infinite;
}

.carousel .change_outer .element {
  display: block;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.6);
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,45% {
    -webkit-transform: translateY(-43px);
            transform: translateY(-43px);
  }
  50%,70% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  75%,95% {
    -webkit-transform: translateY(-129px);
            transform: translateY(-129px);
  }
  100% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25%,45% {
    -webkit-transform: translateY(-43px);
            transform: translateY(-43px);
  }
  50%,70% {
    -webkit-transform: translateY(-86px);
            transform: translateY(-86px);
  }
  75%,95% {
    -webkit-transform: translateY(-129px);
            transform: translateY(-129px);
  }
  100% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
}

@media (min-width: 576px) {
 .carousel {
    font-size: 2.5em;
    line-height: 55px;
    height: 55px;
  }

  .carousel .pre, .carousel .change_outer {
    height: 55px;
  }

  @-webkit-keyframes rotate {
    0%, 20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%,45% {
      -webkit-transform: translateY(-55px);
              transform: translateY(-55px);
    }
    50%,70% {
      -webkit-transform: translateY(-110px);
              transform: translateY(-110px);
    }
    75%,95% {
      -webkit-transform: translateY(-165px);
              transform: translateY(-165px);
    }
    100% {
      -webkit-transform: translateY(-220px);
              transform: translateY(-220px);
    }
  }

  @keyframes rotate {
    0%, 20% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%,45% {
      -webkit-transform: translateY(-55px);
              transform: translateY(-55px);
    }
    50%,70% {
      -webkit-transform: translateY(-110px);
              transform: translateY(-110px);
    }
    75%,95% {
      -webkit-transform: translateY(-165px);
              transform: translateY(-165px);
    }
    100% {
      -webkit-transform: translateY(-220px);
              transform: translateY(-220px);
    }
  }
}

/* About */

/* Portfolio */
#portfolio {
  min-height: calc(100vh - 30px);
}

/* Contact */
#contact {
  background-color: #6A7DF6;
  color: #fff;
}

#contact h2 {
  color: #fff;
}