.heroContainer {
  background-color: var(--ac-blue);
  background-image: url('../../images/sparkle.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 25px) calc(100% - 50px);
  background-size: 50px;
}

.name {
  color: #fff;
  font-size: 3rem;
}

.message {
  font-size: 1.5rem;
  transition: .25s;
}

.fade {
  opacity: 0;
}

.homeImage {
  align-self: center;
  width: 100%;
  max-width: 400px;
}

.verticalOffset {
  position: relative;
  top: 12vh;
}