@font-face {
  font-family: 'TTNormsRegular';
  src: url('../fonts/TTNorms-Regular.otf');
}

@font-face {
  font-family: 'TTNormsBold';
  src: url('../fonts/TTNorms-Bold.otf');
}

:root {
  --font-body-color: #444;
  --ac-blue: #64eced;
  --ac-pink: #ff8fb2;
  --ac-yellow: #fed361;
}

/* Elements */

body, html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Helpers */

.vh100 {
  height: 100vh;
}

.p25 {
  padding: 25px;
}

.w25 {
  width: 25%;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

section.container {
  min-height: 100vh;
  padding: 50px 25px;
}

/* Media queries */

@media (max-width: 959px) {
  section.container {
    min-height: calc(100vh - 85px);
  }
}